h1{
  color:red;
}
.bdr{
  border: 2px solid black;
}
.dp-img{
  height: 700px;;
  width: 700px;
}
.web{
  position: absolute;
  top:10px;
  right:180px;
  font-size:200px;
}
.dev{
  position: sticky;
  top:420px;
  right:180px;
  font-size:200px;
}
nav{
  margin-left: 100px;
}

table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
}
th, td {
  background-color: #96D4D4;
  padding:10px;
  padding-left: 100px;
  padding-right: 100px;
}
